{% assign lang_rel_pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% assign lang_rel_pages_counter=0 %}{% for lang_rel_page in lang_rel_pages%}{% assign lang_rel_pages_counter=lang_rel_pages_counter | plus:1 %}{% endfor %}
{% if lang_rel_pages_counter > 1 %}
<div class="entry-lng">
    <span class="entry-lng">
        {% for post in posts %}
        {% assign language =site.data.messages.locales[post.lang] %}
        {% if navlang == post.lang %}
        <a href="" title="{{ language.post_current_title }}" class="lng-sel">
            <span class="term">{{ language.lang_name }}</span>
        </a>
        {% else %}
        <a href="{{ post.url }}" title="{{ language.post_title }}" class="lng">
                <span class="term">{{ language.lang_name }}</span>
            </a>
        {% endif %}
        {% endfor %}
    </span>
</div>
{% endif %}
