<div>&nbsp;</div>
<div class="entry-lng">
    <span class="entry-lng">
        {% for hlocal in site.locales %}
        {% assign language = site.data.messages.locales[hlocal] %}
        {% if hlocal == page.lang %}
        <a href="" title="{{ language.page_current_title }}" class="lng-sel">
            <span class="term">{{ language.lang_name }}</span>
        </a>
        {% else %}
        <a href="{{ site.url }}/{{ hlocal }}/" title="{{ language.page_title }}" class="lng">
            <span class="term">{{ language.lang_name }}</span>
        </a>
        {% endif %}
        {% endfor %}
    </span>
</div>
<div>&nbsp;</div>