<!DOCTYPE HTML>
<html>

{% include head.html %}

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                {% include header.html %}

                {{ content }}

                {% include collecttags.html %}


                {% if page.lang %}
                {% assign posts=site.posts | where:"lang", page.lang %}
                {% else %}
                    {% assign posts=site.posts %}
                {% endif %}

                <ul class="icons">
                {% for item in stags %}
                    {% if page.lang %}
                        {% assign tposts=site.tags[item] | where:"lang", page.lang %}
                    {% else %}
                        {% assign tposts=site.tags[item] %}
                    {% endif %}
                    <li>
                        <a href="#{{ item }}" class="tag">
                            <span class="term">{{ item }}</span>
                            <span class="count">({{ tposts.size }})</span>
                        </a>
                    </li>
                {% endfor %}
                </ul>



                    {% for item in stags %}
                        {% if page.lang %}
                            {% assign tposts=site.tags[item] | where:"lang", page.lang %}
                        {% else %}
                            {% assign tposts=site.tags[item] %}
                        {% endif %}
                        <section>
                            <header class="major">
                                <h2 id="{{ item }}">{{ item }}</h2>
                            </header>
                            <div class="features">
                            {% for post in tposts %}
                                {% if post.title != null %}
                                <article>
                                    <div class="content">
                                        <h5>{{ post.date | date_to_string }}</h5>
                                        <h3><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
                                        <p>{{ post.excerpt }}</p>
                                    </div>
                                </article>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </section>
                    {% endfor %}                
            </div>
        </div>

        {% include sidebar.html %}

    </div>

    {% include footer.html %}

</body>

</html>
