---
layout: compress
---
<!DOCTYPE HTML>
<html>

{% include head.html %}

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                {% include header.html %}

                {{ content }}

                {% assign tposts=site.tags[page.tag] | where:"lang", page.lang %}
                <section>
                    <header class="major">
                        <h2 id="{{ page.tag }}">{{ page.tag }}</h2>
                    </header>
                    <div class="posts">
                    {% for post in tposts %}
                        {% if post.title != null %}
                        <article>
                            <!--<div class="content">-->
                                {% if post.thumb %}
                                {% if post.thumb contains 'http' %}{% assign domain_thumb = '' %}{% else %}{% assign domain_thumb = site.url %}{% endif %}
                                <a href="{{ site.url }}{{ post.url }}" class="image"><img src="{{ domain_thumb }}{{ post.thumb }}" alt="{{ site.data.messages.locales[navlang].btn_more }}" /></a>
                                {% endif %}
                                <h5>{{ post.date | date_to_string }}</h5>
                                <h3><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
                                <p>{{ post.excerpt }}</p>
                                <ul class="actions">
                                    <li><a href="{{ site.url }}{{ post.url }}" class="button">{{ site.data.messages.locales[navlang].btn_more }}</a></li>
                                </ul>
                            <!--</div>-->
                        </article>
                        {% endif %}
                    {% endfor %}
                    </div>
                </section>
            </div>
        </div>

        {% include sidebar.html %}

    </div>

    {% include footer.html %}

</body>

</html>
